{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <title>{% block title %}Tab title.{% endblock %}</title>
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row'>
                <!-- Sidebar: large screen -->
                <div class='d-none d-md-block col-md pt-5 px-5' style="background: #f76540; min-height: 100vh; max-width: 360px;">
                    <div>{% block sidetitle %}<h1>Side title.</h1>{% endblock %}</div>
                    <div>{% block sidecontent %}<h3>Side bar.</h3>{% endblock %}</div>
                </div>
                <!-- Sidebar: small screen -->
                <div class='d-sm-block d-md-none col-md-3 pt-5 px-5' style="background: #f76540;">
                    {% block sidetitle_sm %}<h1>Side title.</h1>{% endblock %}
                    {% block sidecontent_sm %}<h3>Side bar.</h3>{% endblock %}
                </div>
                <!-- Content -->
                <div class='col-md-9 px-5'>
                    <!-- Content: large screen -->
                    <div class='d-none d-md-block pt-5'></div>
                    <!-- Content: small screen -->
                    <div class='d-sm-block d-md-none pt-4'></div>
                    {% block content %}<h3>Content.</h3>{% endblock %}
                </div>
            </div>
        </div>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>